*.class
.vscode/*
/home/diar/Desktop/Skola/Y4/Search/Labs/davisWiki/*
/home/diar/Desktop/Skola/Y4/Search/Labs/guardian/*
/home/diar/Desktop/Skola/Y4/Search/Labs/davisWiki_test/*
/home/diar/Desktop/Skola/Y4/Search/Labs/guardian/*

*.vscode/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json
