*.class
.vscode/*
/home/diar/Desktop/Skola/Y4/Search/L1/davisWiki/*
/home/diar/Desktop/Skola/Y4/Search/L1/guardian/*
*.vscode/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json